[Unit]
Description     = CRFA Donation App
Wants           = network-online.target
After           = network-online.target

[Service]
User            = crfa
Type            = simple
WorkingDirectory= /opt/crfa-donation-app
ExecStart       = /bin/bash -c '/opt/crfa-donstion-app/crfa-donation-app.sh'
KillSignal=SIGINT
RestartKillSignal=SIGINT
TimeoutStopSec=2
LimitNOFILE=32768
Restart=always
RestartSec=5

[Install]
WantedBy	= multi-user.target
